body{ 
  margin:0%;
<<<<<<< HEAD
  background-color: #f1f0eb;
=======
  background-color: #f0ebcc;
>>>>>>> 0d7d5791861f56b3f484443b4a60b406835bffa8


}

header{
<<<<<<< HEAD
  color:hsl(200, 84%, 38%);
  background-color: #b8cddb;
  height:80px ;
  
}

=======
  color: #f6dcbf;
  background-color: #3d84b8;
  height:80px ;
}
>>>>>>> 0d7d5791861f56b3f484443b4a60b406835bffa8
header nav{
  float: right;
  width: 30%;
  margin-top: -10px;

}
header h1{
  float: left;
}
header nav ul li{
  display: inline-block;
  margin-right: 10px;
}
#first{
  background-color: #a7d0cd;
<<<<<<< HEAD
  width: 100%
=======
  width: 90%
>>>>>>> 0d7d5791861f56b3f484443b4a60b406835bffa8

}
#first h3{
color:#3d84b8;
font-size: 20px
}

#second{
    color:rgb(66, 51, 153);
    background-color: #6bb0ff


}
.image-container{
  text-align: center;
  display: inline-block;
<<<<<<< HEAD
  height: 300px;
  width: 400px;
=======
  height: 200px;
  width: 30%;
>>>>>>> 0d7d5791861f56b3f484443b4a60b406835bffa8
  margin-left: 30px;
}

footer{
  height: 100px;
<<<<<<< HEAD
  color: #d13a6f;
  background-color:#b8cddb;
  text-align: center;
}
=======
  color: #f4abc4;
  background-color: hsl(271.01,91.75%,19.02%);
  text-align: center;
}
>>>>>>> 0d7d5791861f56b3f484443b4a60b406835bffa8
